<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.leoyuu.mysqlclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.table.TableDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.sqlcmd.SqlCmdActivity"
            android:label="@string/title_activity_sql_cmd"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".module.log.LogActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".module.design.TableDesignActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".module.about.AboutActivity"
            android:label="@string/about">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="118.190.98.99"
                    android:pathPrefix="/mysql_client"
                    android:scheme="http" />
            </intent-filter>
        </activity>

    </application>

</manifest>